body {
  margin: 0;
}

/* Navigation */
.navigation_block {
  width: 100%;
  background-color: #FFFFFF;
  position: fixed;
  top: 0;
  display: flex;
  justify-content: center;
  border-bottom: 1px solid #E8E8E8;
  z-index: 1;
}

.navigation {
  width: 100vw;
  display: grid;
  grid-template-columns: 0.9fr 1.1fr;
  margin: 10px 0;
}

.navigation > a {
  text-decoration: none;
}

.page_name {
  text-align: left;
  margin-left: 10px;
  font-weight: bold;
  font-size: 30px;
  width: 150px;
  height: 34px;
  line-height: 34px;
  color: #448899;
}

.btn_container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-self: end;
  text-align: center;
}

.btn_container > div {
  color: #666666;
  line-height: 14px;
  margin: 10px;
  cursor: pointer;
}

#sign_btn {
  display: none;
}

#signout {
  display: none;
}

@media all and (min-width: 1200.01px) {
  .navigation {
    width: 1200px;
  }
}

/* Modals */
.modal_background {
  position: fixed;
  background: rgba(0, 0, 0, 0.25);
  width: 100vw;
  height: 100vh;
  top: 0;
  display: none;
  z-index: 2;
}

#signin_form {
  display: none;
}

#signup_form {
  display: none;
}

@keyframes transition-in {
	from {
		transform: translateY(-80px);
    opacity: 0;
	}
	to {
		transform: translateY(0px);
    opacity: 1;
	}
}

/* @keyframes transition-out {
	from {
		transform: translateY(0px);
    opacity: 1;
	}
	to {
		transform: translateY(-80px);
    opacity: 0;
	}
} */

.transition-in {
  animation: transition-in 1s;
}

/* .transition-out {
  animation: transition-out 1s;
} */

.modal {
  color: #666666;
  background: #FFFFFF;
  box-shadow: 0px 4px 60px #AAAAAA;
  border-radius: 6px;
  width: 340px;
  margin: 80px auto auto auto;
}

.form_top {
  width: 100%;
  height: 10px;
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
  background: linear-gradient(270deg, #337788 0%, #66AABB 100%);
}

.modal_content {
  position: relative;
  margin: 15px;
}

.close_icon {
  position: absolute;
  top: 0px;
  right: 0px;
  cursor: pointer;
}

.form_title {
  font-weight: bold;
  font-size: 24px;
  text-align: center;
  margin: 10px 0 15px 0;
}

.sign_form > .input {
  width: 310px;
  height: 47px;
  border: 1px solid #CCCCCC;
  box-sizing: border-box;
  border-radius: 5px;
  margin-bottom: 10px;
}

.sign_form > input[type='text'], input[type='password'] {
  padding: 15px;
  color: #666666;
  font-size: 16px;
}

.submit_btn {
  width: 310px;
  height: 47px;
  background: #448899;
  border-radius: 5px;
  box-sizing: content-box;
  color: #FFFFFF;
  border: 0;
  cursor: pointer;
}

input[type='button'] {
  font-weight: normal;
  font-size: 19px;
  line-height: 16px;
  color: #FFFFFF;
  padding: 0;
}

.message {
  color: red;
  text-align: center;
  margin-top: 10px;
}

.switch {
  box-sizing: border-box;
  text-align: center;
  box-sizing: border-box;
  padding: 10px 0 15px 0;
  cursor: pointer;
}

/* Footer */
#footer {
  width: 100%;
  font-weight: bold;
  color: #FFFFFF;
  text-align: center;
  background: #757575;
  line-height: 104px;
  position: absolute;
}

@media all and (max-width: 600px) {
  #footer {
    margin-top: 54px;
  }
}
