<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel='shortcut icon' href='#' />
  <title>台北一日遊</title>
  <link rel='stylesheet' href='../static/css/attraction.css' type='text/css'>
</head>

<body>
  <div class='navigation_block'>
    <div class='navigation'>
      <div class='page_name'>台北一日遊</div>
      <div class='btn_container'>
        <div class='btn'>預定行程</div>
        <div class='btn'>登入/註冊</div>
      </div>
    </div>
  </div>
  <div class='top_section'>
    <div class='attraction_imgs'>
      <diV class='arrow'>
        <img id='left_arrow' src='../static/img/btn_leftArrow.png'>
        <img id='right_arrow' src='../static/img/btn_rightArrow.png'>
      </diV>
      <div class='dots'>
        <!-- <div class='dot_group'>
          <div class='circle'>
            <div id='current' class='dot'></div>
          </div>
        </div> -->
      </div>
      <!-- <img id='img' src='../static/img/demo.png'> -->
    </div>
    <div class='booking'>
      <div id='title'></div>
      <div id='info' class='normal_text'></div>
      <form class='booking_form'>
        <div class='form_title'>訂購導覽行程</div>
        <div class='normal_text'>以此景點為中心的一日行程，帶您探索城市角落故事</div>
        <div class='inline'>
          <div>選擇日期：</div>&nbsp
          <input type='date'>
        </div>
        <div class='inline'>
          <div>選擇時間：</div>
          <div class='radio' id='morning'>
            <div class='radio_input'>
              <div class='radio_label' id='morning_label'></div>
            </div>
            <div class='option'>上半天</div>
          </div>
          <div class='radio' id='afternoon'>
            <div class='radio_input'>
              <div class='radio_label' id='afternoon_label'></div>
            </div>
            <div class='option'>下半天</div>
          </div>

          <!-- <input type='radio' class='radio_input' id='morning' name='radio_group' checked>
          <label for='morning' class='radio_label'>上半天</label>
          <input type='radio' class='radio_input' id='afternoon' name='radio_group'>
          <label for='afternoon' class='radio_label'>下半天</label> -->
        </div>
        <div class='inline'>
          <div>導覽費用：</div>
          <div class='price'>&nbsp新台幣&nbsp2000&nbsp元</div>
        </div>
        <input type='button' value='開始預訂行程'>
      </form>
    </div>
  </div>
  <div class='info_detail'>
    <div id='description'></div>
    <div>
      <div class='cat_title'>景點地址：</div>
      <div id='address'></div>
    </div>
    <div>
      <div class='cat_title'>
        交通方式：
      </div>
      <div id='transport'>
        </div>
    </div>
  </div>
  <div id='footer'>COPYRIGHT © 2021 台北一日遊</div>
  <script type='text/javascript' src='../static/js/attraction.js'></script>
</body>

</html>