<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel='shortcut icon' href='#' />
  <title>台北一日遊</title>
  <link rel='stylesheet' href='../static/css/shared.css' type='text/css'>
  <link rel='stylesheet' href='../static/css/booking.css' type='text/css'>
</head>

<body>
  {% include "/shared/nav.html" %}

  <div class='booking_main'>
    <div id='loading_icon'></div>
    <div id='headline_rest'>
      <div class='booking_content' id='booking_container'>
      </div>
      <div class='contact_info'>
        <div class='info_head style_inline'>您的聯絡資訊</div>
          聯絡姓名：<input type='text' class='booking_input' id='contact_name'><br>
          連絡信箱：<input type='text' class='booking_input' id='contact_email'><br>
          手機號碼：<input type='text' class='booking_input' id='contact_phone'>
          <div class='style_bold style_inline'>請保持手機暢通，準時到達，導覽人員將用手機與您聯繫，務必留下正確的聯絡方式。</div>
      </div>
      <div class='payment_info'>
        <div class='info_head style_inline'>信用卡付款資訊</div>
        卡片號碼：<div class="tpfield" id="card_number"></div><br>
        過期時間：<div class="tpfield" id="card_expiration_date"></div><br>
        驗證密碼：<div class="tpfield" id="card_cvv"></div>
      </div>
      <div class='confirm'>
        <div class='total_price'>
          總價：<div class='style_bold'>新台幣 <span id='total_price'></span> 元</div>
        </div>
        <input type='button' value='確認訂購並付款' class='enter' id='confirm_btn' disabled>
      </div>
    </div>
  </div>
  {% include "/shared/sign_modals.html" %}
  
  {% include "/shared/footer.html" %}

  <script src="https://js.tappaysdk.com/tpdirect/v5.8.0"></script>
  <script type='text/javascript' src='../static/js/sign.js'></script>
  <script type='text/javascript' src='../static/js/booking.js'></script>
</body>

</html>