<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel='shortcut icon' href='#' />
  <title>台北一日遊</title>
  <link rel='stylesheet' href='../static/css/booking.css' type='text/css'>
</head>

<body>
  <div class='navigation_block'>
    <div class='navigation'>
      <a href='/'><div class='page_name'>台北一日遊</div></a>
      <div class='btn_container'>
        <div class='btn'>預定行程</div>
        <div class='btn'>登入/註冊</div>
      </div>
    </div>
  </div>
  <div class='main'>
    <div class='head headline'>您好，Yakko，待預訂的行程如下：</div>
    <div class='content'>
      <img class='attraction_img' src='../static/img/demo.png'>
      <div class='detail'>
        <img class='delete' src='../static/img/icon_delete.png'>
        <div class='topic'>台北一日遊：平安鐘</div>
        <div class='inline'>
          <div class='bold'>日期： </div>
          <div id='date'>2021-04-23</div>
        </div>
        <div class='inline'>
          <div class='bold'>時間： </div>
          <div id='time'>早上 9 點到下午 4 點</div>
        </div>
        <div class='inline'>
          <div class='bold'>費用： </div>
          <div id='price'>新台幣 2000 元</div>
        </div>
        <div class='inline'>
          <div class='bold'>地點： </div>
          <div id='place'>臺北市 大安區忠孝東路4段</div>
        </div>
      </div>
    </div>
    <div class='contact'>
      <div class='head'>您的聯絡資訊</div>
      <form>
        聯絡姓名：<input type='text' class='input'><br>
        連絡信箱：<input type='text' class='input'><br>
        手機號碼：<input type='text' class='input'>
        <div class='bold'>請保持手機暢通，準時到達，導覽人員將用手機與您聯繫，務必留下正確的聯絡方式。</div>
      </form>
    </div>
    <div class='payment'>
      <div class='head'>信用卡付款資訊</div>
      卡片號碼：<input type='text' class='input' placeholder='**** **** **** ****'><br>
      過期時間：<input type='text' class='input' placeholder='MM/YY'><br>
      驗證密碼：<input type='text' class='input' placeholder='CVV'>
    </div>
    <div class='confirm'>
      <div class='total'>
        總價：<div class='bold'>新台幣 2000 元</div>
      </div>
      <input type='button' value='確認訂購並付款' class='enter'>
    </div>
  </div>
  <div id='footer'>COPYRIGHT © 2021 台北一日遊</div>
  <!-- <script type='text/javascript' src='../static/js/index.js'></script> -->
</body>

</html>