<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel='shortcut icon' href='#' />
  <title>台北一日遊</title>
  <link rel='stylesheet' href='../static/css/nav.css' type='text/css'>
  <link rel='stylesheet' href='../static/css/sign.css' type='text/css'>
  <link rel='stylesheet' href='../static/css/index.css' type='text/css'>
</head>
<body>
  <nav-component></nav-component>
  <div class='hero_section'>
    <div class='hero'>
      <div class='slogan_content'>
        <div class='slogan_main'>輕鬆享受台北一日悠閒</div>
        <div class='slogan_sub'>探索每個角落，體驗城市的深度旅遊行程</div>
        <div class='search'>
          <input id='search_field' placeholder='輸入景點名稱查詢' type='text'>
          <button id='search_btn'><img src='../static/img/icon_search.png'></button>
        </div>
      </div>
    </div>
  </div>
  <div class='attractions'>
    <div id='attractions_group'>
      <!-- <div class='attraction'>
        <div class='img'>
          <img id='attraction_img' src='../static/img/demo.png'>
          <div id='title'>平安鐘</div>
        </div>
        <div class='info'>
          <div id='mrt'>忠孝復興</div>
          <div id='category'>公共藝術</div>
        </div>
      </div> -->
    </div>
  </div>
  <modal-component></modal-component>
  <!-- <div id='footer'>COPYRIGHT © 2021 台北一日遊</div> -->
  <script type='text/javascript' src='../static/js/components/nav.js'></script>
  <script type='text/javascript' src='../static/js/components/sign_modal.js'></script>
  <script type='text/javascript' src='../static/js/components/footer.js'></script>
  <script type='text/javascript' src='../static/js/sign.js'></script>
  <script type='text/javascript' src='../static/js/index.js'></script>
</body>
</html>