<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
  <div class='navigation_block'>
    <div class='navigation'>
      <a href='/'>
        <div class='page_name'>台北一日遊</div>
      </a>
      <div id='btn_container'>
        <div id='booking_btn'>
          預定行程
          <div id='booking_number'></div>
        </div>
        <div id='sign_btn'>登入/註冊</div>
        <div id='member_page'>
          <div id='member'></div>
        </div>
      </div>
    </div>
  </div>
</body>
</html>